header {
  height: 147px;
}

.logo-container {
  background-color: #fcdc36;
  height: 52px;
  width: 360px;
}

.header-recipesApp-logo {
  height: 39.28px;
  left: 26px;
  position: absolute;
  top: 6px;
  width: 42.6px;
}

.header-recipes-word {
  height: 13.39px;
  left: 89.37px;
  position: absolute;
  top: 20.78px;
  width: 71.62px;
}

.header-app-word {
  height: 13.06px;
  left: 160px;
  position: absolute;
  top: 24.7px;
  width: 32.91px;
}

.header-search-btn {
  background-color: inherit;
  border: none;
  height: 26.85px;
  left: 267px;
  position: absolute;
  top: 14px;
  width: 26.85px;
}

.header-profile-btn {
  background-color: inherit;
  border: none;
  height: 28.71px;
  left: 310px;
  position: absolute;
  top: 13px;
  width: 28.71px;
}

.page-logo {
  height: 29.53px;
  left: 160px;
  position: absolute;
  top: 83px;
  width: 40.33px;
}

.recipe-page-title {
  color: #41197f;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  height: 21px;
  left: 107px;
  letter-spacing: 0.105em;
  line-height: 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 126px;
  width: 147px;
}
