header {
  height: 147px;
}

.logo-container {
  align-items: center;
  background-color: #fcdc36;
  display: flex;
  height: 52px;
  justify-content: space-around;
  width: 100%;
}

.logo {
  align-items: center;
  display: flex;
}

.header-recipesApp-logo {
  height: 39.28px;
  width: 42.6px;
}

.App-name {
  align-items: flex-end;
  display: flex;
}

.header-recipes-word {
  height: 13.39px;
  margin-left: 10px;
  width: 71.62px;
}

.header-app-word {
  height: 13.06px;
  width: 32.91px;
}

.links-container {
  align-items: baseline;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  width: 100px;
}

.header-search-btn {
  background-color: inherit;
  border: none;
  height: 26.85px;
  width: 26.85px;
}

.header-profile-btn {
  background-color: inherit;
  border: none;
  height: 28.71px;
  width: 28.71px;
}

.meals-page-logo {
  height: 29.53px;
  left: 130px;
  position: absolute;
  top: 83px;
  width: 40.33px;
}

.drinks-page-logo {
  height: 29.53px;
  left: 155px;
  position: absolute;
  top: 83px;
  width: 40.33px;
}

.meals-page-title {
  color: #41197f;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  height: 21px;
  left: 80px;
  letter-spacing: 0.105em;
  line-height: 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 126px;
  width: 147px;
}

.recipe-page-title {
  color: #41197f;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  height: 21px;
  left: 105px;
  letter-spacing: 0.105em;
  line-height: 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 126px;
  width: 147px;
}

.searchbar-container {
  position: absolute;
}
